Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

fix(jellyseerr-exporter): update CLI flags for new container image
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

refactor: remove control plane tolerations from non-critical workloads
  kubernetes/apps/cert-manager/cert-manager/app/helm-values.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helm-values.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(prometheus): reduce CPU request to allow scheduling
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): properly configure CSI container resources
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(thanos): remove invalid prefix field from S3 config
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore(security): add terraform plan files to .gitignore
  .gitignore
Due: none

feat(monitoring): add Chamberlain MyQ monitoring via UniFi metrics
  terraform/alerting/rules_iot.tf
Due: none

fix(unifi-poller): missing folder
  kubernetes/apps/observability/unifi-poller/app/externalsecret.yaml
  kubernetes/apps/observability/unifi-poller/app/helmrelease.yaml
  kubernetes/apps/observability/unifi-poller/app/kustomization.yaml
  kubernetes/apps/observability/unifi-poller/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(unifi-poller): add kustomization and remove older unpoller
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(unifi-poller): store URL in secret as well
  kubernetes/apps/observability/unifi-poller/app/externalsecret.yaml
  kubernetes/apps/observability/unifi-poller/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(monitoring): remove duplicate Chamberlain MyQ ICMP monitoring
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/blackbox-exporter/probes/homelab.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(external-dns): add service source to create A record for internal.56kbps.io
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ceph): increase OSD CPU limits to resolve slow operations
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyseerr): change hostname from jelly to jellyseerr
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): add jelly.56kbps.io as additional hostname
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): correct typo in PLEX_NO_AUTH_NETWORKS and add cluster networks
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(observability): add k6-operator for synthetic monitoring
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
  kubernetes/apps/observability/k6-operator/app/kustomization.yaml
  kubernetes/apps/observability/k6-operator/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(k6-operator): remove amd64 nodeselector
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(k6-operator): update to v3.15.0
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(k6-operator): correct serviceMonitor configuration
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(k6-operator): move serviceMonitor to root level
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(k6-operator): correct serviceMonitor path
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(cloudflared): add Plex to tunnel configuration
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(prometheus): enable remote-write-receiver for k6 metrics
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(prometheus): use enableRemoteWriteReceiver flag correctly
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(coredns): add DNS forwarding for 56kbps.io domain
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alerting): adjust sonos instance variable
  terraform/alerting/rules_iot.tf
Due: none

fix(alerting): fix myq monitoring logic and use actual MAC address
  terraform/alerting/rules_iot.tf
Due: none

fix(alerting): make sure PDU logic is correct
  terraform/alerting/rules_power.tf
Due: none

fix(alerting): adjust prometheus logic
  terraform/alerting/rules_prometheus_connectivity.tf
Due: none

fix(alerting): adjust ceph alerting to actually check slow queries
  terraform/alerting/rules_storage.tf
Due: none

fix(cilium): use static IP assignments where needed.
  kubernetes/apps/database/emqx/cluster/cluster.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(emqx): bind emqx to correct VIP so it stops stealing internal gateway VIP
  .taskfiles/Sops/Taskfile.yaml
  kubernetes/apps/database/emqx/cluster/cluster.yaml
  kubernetes/flux/components/sops/cluster-secrets.secret.sops.yaml
Due: validate-sops, validate-kubernetes-files, no-direct-secrets

fix(cluster-secrets): update externalsecret, this is messy
  kubernetes/components/common/cluster-secrets/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets
