Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

refactor(secrets): minimize SOPS to bootstrap-only; 1Password is the source of truth
  .github/workflows/validate.yaml
  docs/src/notes/one-password.md
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/secret.sops.yaml
  kubernetes/components/common/cluster-secrets/externalsecret.yaml
  kubernetes/components/common/cluster-settings/configmap.yaml
  kubernetes/components/common/cluster-settings/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/components/kustomization.yaml
  kubernetes/flux/components/sops/.gitignore
  kubernetes/flux/components/sops/cluster-secrets.secret.sops.yaml
Due: validate-sops, validate-kubernetes-files, no-direct-secrets

fix(secrets): cluster-settings kustomization kind Component->Kustomization
  kubernetes/components/common/cluster-settings/configmap.yaml
  kubernetes/components/common/cluster-settings/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(flux): remove orphaned flux/components aggregator
  kubernetes/flux/components/kustomization.yaml
  kubernetes/flux/components/namespace.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): flux-local-safe defaults for robusta + gha runners
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): add robusta clusterName + globalConfig flux-local defaults
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

validate: substitute ${SECRET_*} instead of skipping HTTPRoute in kubeconform
  .github/workflows/validate.yaml
Due: no-direct-secrets

bootstrap: seed flux-system/cluster-secrets to close the substitution window
  bootstrap/resources.yaml.j2
  docs/src/notes/one-password.md
Due: none

refactor(secrets): minimize SOPS to bootstrap-only; 1Password as source of truth (#1299)
  .github/workflows/validate.yaml
  bootstrap/resources.yaml.j2
  docs/src/notes/one-password.md
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/secret.sops.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
  kubernetes/components/common/cluster-secrets/externalsecret.yaml
  kubernetes/components/common/cluster-settings/configmap.yaml
  kubernetes/components/common/cluster-settings/kustomization.yaml
  kubernetes/components/common/kustomization.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/components/kustomization.yaml
  kubernetes/flux/components/namespace.yaml
  kubernetes/flux/components/sops/.gitignore
  kubernetes/flux/components/sops/cluster-secrets.secret.sops.yaml
  kubernetes/flux/components/sops/kustomization.yaml
Due: validate-sops, validate-kubernetes-files, no-direct-secrets

validate: substitute ${SECRET_*} so kubeconform validates HTTPRoutes
  .taskfiles/validation/Taskfile.yaml
Due: no-direct-secrets

ci(validate): streamline validation + wire local pre-commit/pre-push hooks
  .github/pull_request_template.md
  .github/scripts/check-plaintext-secrets.sh
  .github/scripts/find-affected-kustomizations.sh
  .github/scripts/validate-schemas.sh
  .github/scripts/validate-yaml-schemas.sh
  .github/workflows/validate.yaml
  .mise.toml
  .pre-commit-config.yaml
  .taskfiles/validation/Taskfile.yaml
Due: no-direct-secrets

fix(taskfile): correct case-sensitive include paths for Linux/CI
  Taskfile.yaml
Due: no-direct-secrets

ci(docs): move mdbook image to the bjw-s-labs org
  .github/workflows/docs.yaml
Due: no-direct-secrets

ci(validate): make the gate branch-protection friendly
  .github/workflows/validate.yaml
Due: no-direct-secrets

ci(validate): add flux CLI; make flux-local test advisory
  .github/workflows/validate.yaml
  .mise.toml
Due: no-direct-secrets

ci(validate): promote flux-local test to a blocking gate check
  .github/workflows/validate.yaml
Due: no-direct-secrets

chore(observability): pin vector-aggregator + health-review app-template modelines to 5.0.1
  kubernetes/apps/observability/health-review/app/helmrelease.yaml
  kubernetes/apps/observability/vector-aggregator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

ci(flux-diff): post diff via message-path to avoid ARG_MAX overflow
  .github/workflows/validate.yaml
Due: no-direct-secrets

docs/chore: scrub internal IPs + domain from log-monitoring PR; cap flux-diff comment
  .github/workflows/validate.yaml
  docs/src/notes/log-monitoring.md
  kubernetes/apps/observability/exporters/snmp-exporter/app/prometheusrule.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore(observability): keep syslog VIP out of git; fix runbook owner
  docs/src/notes/log-monitoring.md
  kubernetes/apps/database/dragonfly/app/prometheusrule.yaml
  kubernetes/apps/database/mosquitto/app/prometheusrule.yaml
  kubernetes/apps/default/bazarr/app/prometheusrule.yaml
  kubernetes/apps/default/homeassistant/app/prometheusrule.yaml
  kubernetes/apps/default/jellyfin/app/prometheusrule.yaml
  kubernetes/apps/default/lidarr/app/prometheusrule.yaml
  kubernetes/apps/default/plex/app/prometheusrule.yaml
  kubernetes/apps/default/prowlarr/app/prometheusrule.yaml
  kubernetes/apps/default/radarr/app/prometheusrule.yaml
  kubernetes/apps/default/readarr/app/prometheusrule.yaml
  kubernetes/apps/default/sabnzbd/app/prometheusrule.yaml
  kubernetes/apps/default/seerr/app/prometheusrule.yaml
  kubernetes/apps/default/sonarr/app/prometheusrule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/prometheusrule.yaml
  kubernetes/apps/network/cloudflared/app/prometheusrule.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/blackbox-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/apps/observability/unifi-poller/app/prometheusrule.yaml
  kubernetes/apps/observability/vector-aggregator/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/prometheusrule.yaml
  kubernetes/apps/security/authentik/app/prometheusrule.yaml
  kubernetes/components/common/cluster-secrets/externalsecret.yaml
  kubernetes/components/common/cluster-settings/configmap.yaml
  talos/machineconfig.yaml.j2
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): escape runtime ${VAR} from Flux postBuild substitution
  kubernetes/apps/observability/health-review/app/configmap.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(grafana): match ExternalSecret key to 1P field GRAFANA_ADMIN_USERNAME
  docs/src/notes/log-monitoring.md
  kubernetes/apps/observability/kube-prometheus-stack/app/grafana-admin.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): unblock kube-prometheus-stack + grafana first-boot
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): use sqlite WAL for grafana instead of a liveness hack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): use $value not $values.A in PrometheusRule templates
  kubernetes/apps/default/radarr/app/prometheusrule.yaml
  kubernetes/apps/default/sonarr/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/prometheusrule.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): point vector-aggregator dependsOn at observability/loki
  kubernetes/apps/observability/vector-aggregator/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(network): set envoy gateway externalTrafficPolicy to Cluster
  kubernetes/apps/network/envoy-gateway/app/envoyproxy.yaml
  kubernetes/apps/network/envoy-gateway/app/gatewayclass.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): drop invalid global pushover_api_url from alertmanager
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanager-config.yaml
Due: validate-kubernetes-files, no-direct-secrets

ci: add workflow_dispatch to enable Tailscale SSH on macOS self-hosted runner
  .github/workflows/enable-ssh.yml
Due: none

fix(dev): stop op hang on shell start and pin pre-commit python
  .mise.toml
  .pre-commit-config.yaml
Due: no-direct-secrets

fix(actions-runner): correct controllerServiceAccount name so listener RBAC binds
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

refactor(monitoring): run *arr exportarr as sidecars instead of standalone
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/readarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/kustomization.yaml
  kubernetes/apps/observability/exporters/lidarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/lidarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/lidarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/lidarr-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/exporters/lidarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/readarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/readarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/readarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/readarr-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/exporters/readarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(monitoring): drop serviceMonitors for apps with no metrics endpoint
  kubernetes/apps/default/homarr/app/helmrelease.yaml
  kubernetes/apps/default/qui/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(monitoring): drop broken app self-serviceMonitors (plex/jellyfin/etc)
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/romm/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/seerr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(monitoring): correct serviceMonitor selectors + add loki ServiceMonitor
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/readarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/servicemonitor.yaml
  kubernetes/apps/observability/vector-aggregator/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(monitoring): force text scrape protocol for authentik metrics
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/servicemonitor.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(observability): stop inline values masking robusta-secret
  kubernetes/apps/observability/robusta/app/configmap.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
  kubernetes/apps/observability/robusta/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

