Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

fix(ci): use bake-action's source input, not the removed workdir
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(rook-ceph): pin cephVersion explicitly
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): remove stale v1.16.0 operator image pin
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): restore container builds, add bc and python3 to the ARC runner (#1463)
  .github/workflows/containers.yaml
  containers/arc-runner/Dockerfile
Due: no-direct-secrets

fix(rook-ceph): revert charts to v1.18.4 to restore CSI (#1467)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): pin cephVersion explicitly (#1468)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(flux): escape runtime variables for strict postBuild substitution
  kubernetes/apps/default/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/default/cert-exporter/app/resources/export.sh
  kubernetes/apps/default/homarr/app/helmrelease.yaml
  kubernetes/apps/default/homeassistant/ks.yaml
  kubernetes/apps/default/radarr/app/resources/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/resources/pushover-notify.sh
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(flux): escape runtime variables for strict postBuild substitution (#1475)
  kubernetes/apps/default/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/default/cert-exporter/app/resources/export.sh
  kubernetes/apps/default/homarr/app/helmrelease.yaml
  kubernetes/apps/default/homeassistant/ks.yaml
  kubernetes/apps/default/radarr/app/resources/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/resources/pushover-notify.sh
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(cilium,volsync): disableWait for metal-08, clear stale restic locks
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/romm/ks.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/smartctl-exporter/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(cilium,volsync): disableWait for metal-08, clear stale restic locks (#1476)
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/romm/ks.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/smartctl-exporter/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Revert "feat(container)!: Update docker.io/library/postgres (#1430)"
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(renovate): guard upgrades that need a migration, not a tag change
  .github/renovate.json5
  .github/renovate/upgradePolicy.json5
Due: none

feat(renovate): guard upgrades that need a migration, not a tag change (#1482)
  .github/renovate.json5
  .github/renovate/upgradePolicy.json5
Due: none

fix(rook-ceph): remove stale v1.16.0 operator image pin (#1469)
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(rook-ceph): upgrade to v1.19.8
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(rook-ceph): upgrade to v1.19.8 (#1470)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): move Ceph version pin to cephImage for chart 1.19
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): move Ceph version pin to cephImage for chart 1.19 (#1483)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(rook-ceph): upgrade to v1.20.3
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(rook-ceph): upgrade to v1.20.3 (#1471)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(rook-ceph): upgrade Ceph to v20.2.2 (Tentacle), gate future majors
  .github/renovate/upgradePolicy.json5
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): revert to v1.19.8 — 1.20.3 breaks volume attachment
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(rook-ceph): revert to v1.19.8 — 1.20.3 breaks volume attachment (#1485)
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(volsync): clear stale restic lock on recyclarr
  kubernetes/apps/default/recyclarr/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(volsync): clear stale restic lock on recyclarr (#1486)
  kubernetes/apps/default/recyclarr/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(recyclarr): apply BR-DISK custom format to the Any quality profile
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

fix(recyclarr): apply BR-DISK custom format to the Any quality profile (#1487)
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

fix(recyclarr): rename quality_profiles to assign_scores_to for v8
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

feat(sabnzbd): reject disc rips and samples before the *arr imports
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/resources/import-guard.py
Due: validate-kubernetes-files, no-direct-secrets

fix(recyclarr): rename quality_profiles to assign_scores_to for v8 (#1488)
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

feat(sabnzbd): reject disc rips and samples before the *arr imports (#1489)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/resources/import-guard.py
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): move incomplete/ back to NFS — hostPath fails on Talos
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): put incomplete/ on /var/local-storage, not /var/mnt
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): put incomplete/ on /var/local-storage, not /var/mnt (#1493)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): set download_dir, download_free and script_dir via initContainer
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): set download_dir, download_free and script_dir via initContainer (#1494)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): give init-incomplete the capabilities it needs to chown
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): give init-incomplete the capabilities it needs to chown (#1495)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(sabnzbd): relax liveness probe and extend termination grace period
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(recyclarr): block DV Profile 5, boost DV/HDR on the 4K profiles
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

