Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

ci(containers): revert bake-action to v5 for workdir support
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(enigma-bbs): support commit SHA checkout in Dockerfile
  containers/enigma-bbs/Dockerfile
Due: none

fix(enigma-bbs): fetch source tarball for arbitrary commit
  containers/enigma-bbs/Dockerfile
Due: none

feat(enigma-bbs): deploy latest upstream build 0792e93f13e4
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): add init-config container and always-patch VTX for 56kbps.io
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): use alternative sed delimiter for prettyBoardName color code
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): realign proxy providers/outposts with halfduplex/56kbps swap
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/readarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): downgrade provider to 2025.8.1 for server compatibility
  terraform/authentik/.terraform.lock.hcl
  terraform/authentik/main.tf
Due: none

fix(authentik): use primary cluster domain for halfduplex outpost authentik_host
  terraform/authentik/outposts.tf
Due: none

fix(authentik): move outpost ingresses to external class and correct DNS target
  terraform/authentik/outposts.tf
Due: none

feat(talos): garage expansion, basement/garage zones, USB-KVM kernel arg
  talos/machineconfig.yaml.j2
  talos/nodes/10.1.100.101.yaml.j2
  talos/nodes/10.1.100.102.yaml.j2
  talos/nodes/10.1.100.103.yaml.j2
  talos/nodes/10.1.100.104.yaml.j2
  talos/nodes/10.1.100.105.yaml.j2
  talos/nodes/10.1.100.106.yaml.j2
  talos/nodes/10.1.100.107.yaml.j2
  talos/nodes/10.1.100.108.yaml.j2
  talos/nodes/10.1.100.109.yaml.j2
  talos/nodes/10.1.100.110.yaml.j2
  talos/nodes/10.1.100.111.yaml.j2
  talos/nodes/10.1.100.112.yaml.j2
  talos/nodes/10.1.100.113.yaml.j2
  talos/schematic.yaml.j2
Due: none

feat(rook-ceph): add metal-11/12/13 as Ceph OSD nodes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(just): BIOS USB burn tooling and NUC7 BIOS reference doc
  .gitignore
  .justfile
  burn.just
  talos/docs/bios-nuc7.md
  talos/mod.just
Due: none

docs(bios): cooling=Cool, keep Thunderbolt enabled; ignore BIOS artifacts
  .gitignore
  talos/docs/bios-nuc7.md
Due: none

feat(talos): set metal-11 boot disk serial
  talos/nodes/10.1.100.111.yaml.j2
Due: none

fix(media): point sonarr/sabnzbd at halfduplex.io, not the dead 56kbps.io
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(recyclarr): add Sonarr Ultra-HD profile (1080p floor, upgrade to 4K)
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

feat(radarr): upgrade to v6.0.0, fix phantom image tag
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(radarr): bump to 6.2.1.10461 (latest develop build)
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(alerting): add *arr application-health alerts (queue/health via exportarr)
  terraform/alerting/rules_media_services.tf
Due: none

feat(sonarr): bump to 4.0.18.2976
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(alerting): add Loki-based 'database is locked' alert for media apps
  terraform/alerting/rules_media_services.tf
Due: none

fix(mise): use account url for TF_VAR_onepassword_account (1password provider v3)
  .mise.toml
Due: none

feat(alerting): route arr-stack health alerts to slack-critical, ping until fixed
  terraform/alerting/notifications.tf
Due: none

chore(alerting): remove disabled k6 synthetic alert source
  terraform/alerting/rules_synthetic.tf.disabled
Due: none

chore(observability): decommission k6-operator
  kubernetes/apps/observability/k6-operator/app/helmrelease.yaml
  kubernetes/apps/observability/k6-operator/app/kustomization.yaml
  kubernetes/apps/observability/k6-operator/app/ocirepository.yaml
  kubernetes/apps/observability/k6-operator/app/prometheusrule-k6-monitoring.yaml
  kubernetes/apps/observability/k6-operator/app/prometheusrule.yaml
  kubernetes/apps/observability/k6-operator/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alerting): use $labels/$values (not .Labels/.Values) in alert annotations
  terraform/alerting/rules_iot.tf
  terraform/alerting/rules_nodes.tf
  terraform/alerting/rules_storage.tf
Due: none

fix(alerting): PDU load description double-divided + used unsupported div()
  terraform/alerting/rules_power.tf
Due: none

fix(alerting): debounce noisy SNMP value alerts (UPS battery/on-battery)
  terraform/alerting/rules_power.tf
Due: none

fix(observability): correct jellyseerr-exporter ES 1Password field
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alerting): group same-alert instances into one Slack message
  terraform/alerting/notifications.tf
Due: none

fix(alerting): ArrDatabaseLocked names the app + gives the fix command
  terraform/alerting/rules_media_services.tf
Due: none

chore(claude): add gitops permission guard hook + fix compound-cmd parsing
  .claude/hooks/gitops-guard.py
  .claude/settings.json
  .gitignore
Due: none

fix(alerting): derive app name from pod in ArrDatabaseLocked
  terraform/alerting/rules_media_services.tf
Due: none

chore(authentik): set cookie_domain on halfduplex proxy providers
  terraform/authentik/applications.tf
  terraform/authentik/halfduplex-branding.css
  terraform/authentik/outposts.tf
Due: none

docs(claude): correct stale gateway IPs and storage stack
  CLAUDE.md
Due: none

fix(authentik): drop log_level from trace to info
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(authentik): upgrade 2025.8.4 -> 2025.10.4 (hop 1 of staged upgrade)
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): chart tag 2025.10.3 (chart patches lag app releases)
  kubernetes/apps/security/authentik/app/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(authentik): upgrade 2025.10.3 -> 2025.12.4 (hop 2 of staged upgrade)
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets
