Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

feat(alerting): add dashboard for UPS and PDC
  terraform/alerting/dashboard_power.tf
Due: none

fix(coredns): add RBAC creation to helm values
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  talos/controlplane.yaml.j2
Due: validate-kubernetes-files, no-direct-secrets

feat(monitoring): forward node metrics to Grafana Cloud
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(alloy): add filtered node metrics forwarding to Grafana Cloud
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(alloy): add blackbox probe scraping for node monitoring
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(alerting): switch node monitoring to blackbox probes
  terraform/alerting/rules_nodes.tf
Due: none

fix(blackbox): add node IPs to homelab probe
  kubernetes/apps/observability/exporters/blackbox-exporter/probes/homelab.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alloy): use direct scrape for blackbox node probes
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alloy): correct relabel syntax in prometheus.scrape
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alloy): restructure blackbox scraping with separate relabel block
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alloy): use individual scrape configs for each node probe
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(alloy): add instance labels to blackbox scrape targets
  kubernetes/apps/observability/alloy/app/configmap.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(monitoring): add IoT device monitoring and fix alert conditions
  CLAUDE.md
  app-template-bug-report.md
  app-template-pvc-naming-fix.patch
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/blackbox-exporter/probes/homelab.yaml
  kubernetes/components/pod-eviction-tolerations/kustomization.yaml
  talos/patches/controller-eviction-fixed.yaml
  talos/patches/controller-eviction-patch.yaml
  talos/patches/controller-eviction-strategic.yaml
  talos/patches/controller-manager-correct.yaml
  talos/patches/controller-manager-eviction.yaml
  talos/patches/controller-manager-override.yaml
  talos/patches/remove-bad-flags.yaml
  talos/patches/remove-flag1.yaml
  talos/patches/remove-flag2.yaml
  terraform/alerting/backup_20250819_133027/rules_cert_manager.tf
  terraform/alerting/backup_20250819_133027/rules_consolidated.tf
  terraform/alerting/backup_20250819_133027/rules_flux.tf
  terraform/alerting/backup_20250819_133027/rules_infrastructure.tf
  terraform/alerting/backup_20250819_133027/rules_media_services.tf
  terraform/alerting/backup_20250819_133027/rules_nodes.tf
  terraform/alerting/backup_20250819_133027/rules_power.tf
  terraform/alerting/backup_20250819_133027/rules_prometheus_connectivity.tf
  terraform/alerting/backup_20250819_133027/rules_services.tf
  terraform/alerting/backup_20250819_133027/rules_storage.tf
  terraform/alerting/consolidate_alerts.sh
  terraform/alerting/dashboard_cert_manager.tf
  terraform/alerting/dashboard_power.tf
  terraform/alerting/datasources.tf
  terraform/alerting/folders.tf
  terraform/alerting/notifications.tf
  terraform/alerting/rules_iot.tf
  terraform/alerting/rules_prometheus_connectivity.tf
  terraform/alerting/synthetic_plex.tf.disabled
  terraform/alerting/tfplan
  terraform/alerting/update_alert_dependencies.sh
Due: validate-kubernetes-files, no-direct-secrets

feat(monitoring): add IoT device monitoring and fix alert conditions
  CLAUDE.md
  app-template-bug-report.md
  app-template-pvc-naming-fix.patch
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/blackbox-exporter/probes/homelab.yaml
  kubernetes/components/pod-eviction-tolerations/kustomization.yaml
  talos/patches/controller-eviction-fixed.yaml
  talos/patches/controller-eviction-patch.yaml
  talos/patches/controller-eviction-strategic.yaml
  talos/patches/controller-manager-correct.yaml
  talos/patches/controller-manager-eviction.yaml
  talos/patches/controller-manager-override.yaml
  talos/patches/remove-bad-flags.yaml
  talos/patches/remove-flag1.yaml
  talos/patches/remove-flag2.yaml
  terraform/alerting/backup_20250819_133027/rules_cert_manager.tf
  terraform/alerting/backup_20250819_133027/rules_consolidated.tf
  terraform/alerting/backup_20250819_133027/rules_flux.tf
  terraform/alerting/backup_20250819_133027/rules_infrastructure.tf
  terraform/alerting/backup_20250819_133027/rules_media_services.tf
  terraform/alerting/backup_20250819_133027/rules_nodes.tf
  terraform/alerting/backup_20250819_133027/rules_power.tf
  terraform/alerting/backup_20250819_133027/rules_prometheus_connectivity.tf
  terraform/alerting/backup_20250819_133027/rules_services.tf
  terraform/alerting/backup_20250819_133027/rules_storage.tf
  terraform/alerting/consolidate_alerts.sh
  terraform/alerting/dashboard_cert_manager.tf
  terraform/alerting/dashboard_power.tf
  terraform/alerting/datasources.tf
  terraform/alerting/folders.tf
  terraform/alerting/notifications.tf
  terraform/alerting/rules_iot.tf
  terraform/alerting/rules_prometheus_connectivity.tf
  terraform/alerting/synthetic_plex.tf.disabled
  terraform/alerting/update_alert_dependencies.sh
Due: validate-kubernetes-files, no-direct-secrets

feat(monitoring): add Sonos speaker monitoring
  kubernetes/apps/observability/alloy/app/configmap.yaml
  kubernetes/apps/observability/exporters/blackbox-exporter/probes/homelab.yaml
  terraform/alerting/rules_iot.tf
Due: validate-kubernetes-files, no-direct-secrets

fix(resources): optimize CPU requests for descheduler and Rook-Ceph CSI
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore(talos): remove patch attempts
  talos/patches/controller-eviction-fixed.yaml
  talos/patches/controller-eviction-patch.yaml
  talos/patches/controller-eviction-strategic.yaml
  talos/patches/controller-manager-correct.yaml
  talos/patches/controller-manager-eviction.yaml
  talos/patches/controller-manager-override.yaml
  talos/patches/remove-bad-flags.yaml
  talos/patches/remove-flag1.yaml
  talos/patches/remove-flag2.yaml
Due: no-direct-secrets

feat(prometheus): switch to emptyDir with Thanos R2 backup
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore(repo): cleanup temporary or backup files.
  terraform/alerting/backup_20250819_133027/rules_cert_manager.tf
  terraform/alerting/backup_20250819_133027/rules_consolidated.tf
  terraform/alerting/backup_20250819_133027/rules_flux.tf
  terraform/alerting/backup_20250819_133027/rules_infrastructure.tf
  terraform/alerting/backup_20250819_133027/rules_media_services.tf
  terraform/alerting/backup_20250819_133027/rules_nodes.tf
  terraform/alerting/backup_20250819_133027/rules_power.tf
  terraform/alerting/backup_20250819_133027/rules_prometheus_connectivity.tf
  terraform/alerting/backup_20250819_133027/rules_services.tf
  terraform/alerting/backup_20250819_133027/rules_storage.tf
  terraform/alerting/consolidate_alerts.sh
  terraform/alerting/update_alert_dependencies.sh
Due: none

chore(repo): cleanup temporary or backup files.
  terraform/alerting/backup_20250819_133027/rules_cert_manager.tf
  terraform/alerting/backup_20250819_133027/rules_consolidated.tf
  terraform/alerting/backup_20250819_133027/rules_flux.tf
  terraform/alerting/backup_20250819_133027/rules_infrastructure.tf
  terraform/alerting/backup_20250819_133027/rules_media_services.tf
  terraform/alerting/backup_20250819_133027/rules_nodes.tf
  terraform/alerting/backup_20250819_133027/rules_power.tf
  terraform/alerting/backup_20250819_133027/rules_prometheus_connectivity.tf
  terraform/alerting/backup_20250819_133027/rules_services.tf
  terraform/alerting/backup_20250819_133027/rules_storage.tf
  terraform/alerting/consolidate_alerts.sh
  terraform/alerting/tfplan
  terraform/alerting/update_alert_dependencies.sh
Due: none

fix(prometheus): use empty storageSpec to default to emptyDir
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyseerr-exporter): use correct exporter package
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets
