Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

fix(k8s): use existing 112a48 tag instead of non-existent SHA256 tag
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): create container tags individually to ensure all tags are created
  .github/workflows/app-builder.yaml
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

debug(ci): add extensive debug output for version extraction
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): improve version extraction with multiple jq path attempts
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): extract versions from correct JSON paths in docker bake output
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

feat(mystic-bbs): refactor container to use runtime installation with hooks
  containers/mysticbbs/Dockerfile
  containers/mysticbbs/entrypoint.sh
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(mystic-bbs): add upgrade detection, hook system, and comprehensive documentation
  containers/mysticbbs/Dockerfile
  containers/mysticbbs/README.md
  containers/mysticbbs/container_test.go
  containers/mysticbbs/entrypoint.sh
  containers/mysticbbs/tailit.sh
Due: none

test(mystic-bbs): add telnet port connectivity test and fix environment test
  containers/mysticbbs/container_test.go
Due: none

refactor(ci): consolidate container build workflows and fix issues
  .github/workflows/app-builder.yaml
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): remove invalid matrix-based outputs from plan job
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): provide valid tag for metadata-action to generate labels
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): override tags in bake-action to allow push-by-digest
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): remove metadata-action to prevent tag conflicts with digest builds
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): re-add tags override to clear docker-bake.hcl tags
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): run tests before tagging in merge job
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): make version tag (112a48) the default on package page
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(mysticbbs): use exact process name match in test
  containers/mysticbbs/container_test.go
Due: none

fix(ci): disable provenance attestations to reduce registry clutter
  .github/workflows/containers.yaml
Due: no-direct-secrets

refactor(ci): use commit hash for test tagging instead of digest
  .github/workflows/containers.yaml
  containers/mysticbbs/container_test.go
Due: no-direct-secrets

feat(ci): add immutable sha256 tag as default and use bake metadata
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(mysticbbs): update versioning to match upstream format
  containers/mysticbbs/docker-bake.hcl
Due: none

fix(ci): add metadata-action for manifest annotations
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(mysticbbs): remove flaky process check from telnet test
  containers/mysticbbs/container_test.go
Due: none

feat(ci): delete failed build tags when tests fail
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(ci): update package description from container README
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(mystic-bbs): update to latest image build
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

refactor(volsync): improve unlock task to handle stuck jobs
  .taskfiles/volsync/Taskfile.yaml
Due: no-direct-secrets

fix(mysticbbs): remove stale lock file on startup
  containers/mysticbbs/entrypoint.sh
Due: none

fix(mystic-bbs): update to new sha256 build
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): use digest with tag for image reference
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): correct digest reference format
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): use rolling and sha
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): add tag field
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): fix tag
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): use rolling tag without digest
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): force pull from upstream bypassing spegel cache
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): specify correct namespace for all assets
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/servicemonitor.yaml
  kubernetes/apps/security/authentik/app/volsync-secret.yaml
  kubernetes/apps/security/authentik/app/volsync.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): use version tag 1.12a48 to bypass spegel cache
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): add spegel ignore annotation
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): use direct SHA digest to bypass tag resolution
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets
