Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

fix(enigma-bbs): rebuild all native modules not just sqlite3
  containers/enigma-bbs/Dockerfile
Due: none

fix(enigma-bbs): remove /root HOME and PM2_HOME env vars
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): use new build to fix native packages
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): update code-server paths and add doors directory
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(romm): increase valkey memory limits to prevent OOM kills
  kubernetes/apps/default/romm/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(enigma-bbs): add text0wnz ANSI art editor sidecar
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
  terraform/authentik/applications.tf
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): update text0wnz to use port 1337 instead of 80
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): set text0wnz NODE_ENV to development to skip Caddy
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): add NET_BIND_SERVICE capability to text0wnz
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

test(enigma-bbs): add comprehensive application launch verification
  containers/enigma-bbs/container_test.go
  containers/enigma-bbs/test-config.hjson
Due: none

fix(apps): correct HTTPRoute sectionName to match Gateway listeners
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/romm/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(gateway): isolate flux webhook with dedicated listener
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/gateway/gateway-external.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(apps): optimize resource requests based on actual usage
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/romm/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(text0wnz): add custom server-backed ANSI art editor
  containers/text0wnz/Dockerfile
  containers/text0wnz/README.md
  containers/text0wnz/art/artwork.asc
  containers/text0wnz/art/demo.ans
  containers/text0wnz/art/sample.txt
  containers/text0wnz/docker-bake.hcl
  containers/text0wnz/file-api.js
  containers/text0wnz/server.js
  containers/text0wnz/storage-adapter.js
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): use rolling tag
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Add subdirectory support to text0wnz file API
  containers/text0wnz/file-api.js
Due: none

Use commit tag for text0wnz to get updated image
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Fix Express route syntax for subdirectory file paths
  containers/text0wnz/file-api.js
Due: none

Add automatic Flux webhook trigger for rolling tag updates
  .github/workflows/containers.yaml
Due: no-direct-secrets

Update text0wnz to 118dcb5 with fixed route syntax
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Use regex routes for Express subdirectory support
  containers/text0wnz/file-api.js
Due: none

Switch text0wnz back to rolling tag for automatic updates
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Remove duplicate route definitions with broken syntax
  containers/text0wnz/file-api.js
Due: none

Fix text0wnz storage adapter selectors for menu items
  containers/text0wnz/storage-adapter.js
Due: none

Remove explicit TLS config from enigma-bbs ingresses
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Re-add TLS config to enigma-bbs ingresses
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): disable authentik auto-generated ingress and manage TLS manually
  kubernetes/apps/default/enigma-bbs/app/outpost-ingress.yaml
  terraform/authentik/outposts.tf
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): remove authentik auth from draw.halfduplex.io
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(enigma-bbs): remove authentik protection from draw.halfduplex.io
  kubernetes/apps/default/enigma-bbs/app/outpost-ingress.yaml
  terraform/authentik/applications.tf
  terraform/authentik/outposts.tf
Due: validate-kubernetes-files, no-direct-secrets

fix(overseerr): increase CPU request and probe timeouts to prevent crashes
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(overseerr): add startup probe and increase probe timeouts further
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(engima-bbs): enable external access to the editor and ansi draw
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): halfduplex css login is dark
  terraform/authentik/halfduplex-branding.css
Due: none

feat(dozzle): deploy log tailing
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/observability/dozzle/app/helmrelease.yaml
  kubernetes/apps/observability/dozzle/app/kustomization.yaml
  kubernetes/apps/observability/dozzle/app/ocirepository.yaml
  kubernetes/apps/observability/dozzle/app/rbac.yaml
  kubernetes/apps/observability/dozzle/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): wrong dependency
  kubernetes/apps/observability/dozzle/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): update ks
  kubernetes/apps/observability/dozzle/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): correct ocirepository
  kubernetes/apps/observability/dozzle/app/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): update to correct tag
  kubernetes/apps/observability/dozzle/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): use correct env variable mode
  kubernetes/apps/observability/dozzle/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dozzle): fix rbac
  kubernetes/apps/observability/dozzle/app/rbac.yaml
Due: validate-kubernetes-files, no-direct-secrets
