Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

fix(plex): upgrade to app-template 4.2.0 via OCIRepository
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): remove unsupported className from route config
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore: fix yaml lint issues
  kubernetes/apps/network/dns-resolver/blocky/app/certificate.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
  kubernetes/apps/network/dns-resolver/blocky/app/kustomization.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/network-policy.yaml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/helmrelease.yaml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/kustomization.yaml
  kubernetes/apps/network/dns-resolver/shared/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/httproute.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(taskfile): also remove PVCs - just in case
  .taskfiles/Flux/Taskfile.yaml
Due: no-direct-secrets

fix(jobs): change yaml validation to be warnings
  .github/workflows/validate.yaml
Due: no-direct-secrets

chore(workflows): remove release and fix schema validation on validate
  .github/workflows/release.yaml
  .github/workflows/validate.yaml
Due: no-direct-secrets

fix(bootstrap): update bootstrap versions
  bootstrap/helmfile.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

chore(renovate): group bootstrap files
  .github/renovate/groups.json5
Due: none

chore(renovate): remove schedule restrictions to allow runs at any time
  .github/renovate.json5
Due: none

fix(renovate): simplify grouping to match packages by name across all files
  .github/renovate/groups.json5
Due: none

fix(plex): correct HTTPRoute configuration for app-template 4.2.0
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): add suffix to cache PVC to avoid name collision
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): attach HTTPRoute to both internal and external gateways
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): incorporate loadbalancer into chart, create external-dns entry for the VIP so we bypass the http gateway completely internally
  kubernetes/apps/default/plex/app/dnsendpoint.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/plex/app/service-lb.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): route to the app backend for external
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): restore internal-gateway for HTTPS access
  kubernetes/apps/default/plex/app/dnsendpoint.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(plex): correct HTTPRoute backend service reference
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): correct HTTPRoute backend service reference
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(flux-webhook): correct Gateway reference for HTTPRoute
  kubernetes/apps/flux-system/flux-operator/instance/httproute.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): use correct gid/uid for NAS access
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets
