Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

feat(authentik): refine halfduplex.io login experience
  terraform/authentik/halfduplex-branding.css
  terraform/authentik/stages.tf
Due: none

fix(flux): correct webhook HTTPRoute listener reference
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(authentik): correct volume mounts and update halfduplex branding
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  terraform/authentik/halfduplex-branding.css
Due: validate-kubernetes-files, no-direct-secrets

feat(authentik): hide welcome banner and center login box
  terraform/authentik/halfduplex-branding.css
  terraform/authentik/system.tf
Due: none

fix(authentik): show logo and remove green input borders
  terraform/authentik/halfduplex-branding.css
Due: none

fix(authentik): change focus outline from blue to dark gray
  terraform/authentik/halfduplex-branding.css
Due: none

feat(authentik): add dark gray borders to input fields
  terraform/authentik/halfduplex-branding.css
Due: none

style(authentik): change glow animation from green to gray
  terraform/authentik/halfduplex-branding.css
Due: none

style(authentik): hide identification stage paragraph
  terraform/authentik/halfduplex-branding.css
Due: none

style(authentik): change input text color from green to black
  terraform/authentik/halfduplex-branding.css
Due: none

fix(enigma-bbs): run as non-root and fix volume mount structure
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): add initContainer to fix permissions for non-root user
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(enigma-bbs): create custom non-root container image
  containers/enigma-bbs/Containerfile
  containers/enigma-bbs/docker-bake.hcl
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

test(enigma-bbs): add container tests for non-root operation
  containers/enigma-bbs/container_test.go
  containers/enigma-bbs/go.mod
  containers/enigma-bbs/go.sum
Due: none

fix(enigma-bbs): rename docker-bake target to avoid hyphen in jq
  containers/enigma-bbs/docker-bake.hcl
Due: none

fix(enigma-bbs): rename Containerfile to Dockerfile
  containers/enigma-bbs/Dockerfile
  containers/enigma-bbs/docker-bake.hcl
Due: none

fix(enigma-bbs): remove unused variables in container tests
  containers/enigma-bbs/container_test.go
Due: none

fix(enigma-bbs): update tests and remove arm64 platform
  containers/enigma-bbs/container_test.go
  containers/enigma-bbs/docker-bake.hcl
Due: none

feat(enigma-bbs): build multi-arch from source using Debian
  containers/enigma-bbs/Dockerfile
  containers/enigma-bbs/docker-bake.hcl
Due: none

test(enigma-bbs): add container log output when test fails
  containers/enigma-bbs/container_test.go
Due: none

feat(enigma-bbs): update to multi-arch build 550c7d5 with digest
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(containers): replace push-by-digest with platform tags for GHCR compatibility
  .github/workflows/containers.yaml
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(containers): make container builds independent with per-app pass/fail
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(containers): move cleanup to test job for per-app failure handling
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(containers): allow tag-commit and test jobs to run despite build failures
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(containers): verify platform images exist before creating manifests
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(enigma-bbs): correct bake target name to match app name
  containers/enigma-bbs/docker-bake.hcl
Due: none

fix(ci): use bracket notation in jq for target names with dashes
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): clear tags before setting output to prevent override
  .github/workflows/containers.yaml
Due: no-direct-secrets

perf(ci): enable independent per-app tagging without cross-app blocking
  .github/workflows/containers.yaml
Due: no-direct-secrets

perf(ci): enable independent test and tag-release execution
  .github/workflows/containers.yaml
Due: no-direct-secrets

perf(containers): optimize build caching for faster rebuilds
  .github/workflows/containers.yaml
  containers/enigma-bbs/Dockerfile
Due: no-direct-secrets

feat(enigma-bbs): update to build e922615 with cache optimizations
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(enigma-bbs): update to build e922615 with multi-arch digest
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(enigma-bbs): build native modules like sqlite3
  containers/enigma-bbs/Dockerfile
Due: none

fix(enigma-bbs): skip husky during npm install
  containers/enigma-bbs/Dockerfile
Due: none

fix(ci): add build failure detection to polling jobs
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(enigma-bbs): rebuild sqlite3 after skipping install scripts
  containers/enigma-bbs/Dockerfile
Due: none

fix(ci): fix jq expression for job names with parentheses
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(enigma-bbs): bump to supported dir
  kubernetes/apps/default/enigma-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

