Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

refactor(blocky): update config to v0.24 syntax
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
Due: none

fix(blocky): use well known blocklists
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
Due: none

fix(blocky): use kube-dns for upstream bootstrap
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
Due: none

fix(blocky): change timezone and use correct endpoint for probes
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): remove ingress and standardize config
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): update version
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): disable IPv6 connections
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
Due: no-direct-secrets

fix(blocky): use command healthcheck
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): remove cache folder
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): remove adult list - may be slowing it down
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
Due: none

fix(blocky): change name to match dnscrypt
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(unbound): remove unbound files
  kubernetes/apps/network/dns-resolver/unbound/app/configs/root-trust-anchor
  kubernetes/apps/network/dns-resolver/unbound/app/configs/root.hints
  kubernetes/apps/network/dns-resolver/unbound/app/configs/unbound.conf
  kubernetes/apps/network/dns-resolver/unbound/app/helmrelease.yaml
  kubernetes/apps/network/dns-resolver/unbound/app/kustomization.yaml
  kubernetes/apps/network/dns-resolver/unbound/app/servicemonitor.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): remove last app reference
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): update label to match new name
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(dns-resolver): implement Phase 4 networking and services
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/kustomization.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/network-policy.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(blocky): remove DNS L7 rule for now
  kubernetes/apps/network/dns-resolver/blocky/app/network-policy.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(dns-resolver): implement Phase 5 TLS certificate management
  kubernetes/apps/network/dns-resolver/blocky/app/certificate.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/configs/config.yml
  kubernetes/apps/network/dns-resolver/blocky/app/helmrelease.yaml
  kubernetes/apps/network/dns-resolver/blocky/app/kustomization.yaml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/helmrelease.yaml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

cleanup(dns-resolver): remove HTTPRoute from DNSCrypt-proxy
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/httproute.yaml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dnscrypt-proxy): disable DoH server since it's internal only
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/configs/dnscrypt-proxy.toml
  kubernetes/apps/network/dns-resolver/dnscrypt-proxy/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

refactor(plex): convert from Ingress to HTTPRoute
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

