Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

fix(validate): remove dependency validation
  .github/workflows/validate.yaml
Due: no-direct-secrets

fix(schema): remove non-testale schema references
  kubernetes/apps/network/ingress-nginx/external/externalsecret.yaml
  kubernetes/components/volsync/r2.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(validate): make sure flux is installed
  .github/workflows/validate.yaml
Due: no-direct-secrets

fix(volsync): mutatingadmissionpolicy not available until 1.32
  kubernetes/apps/storage/volsync/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(validate): use correct flux action version
  .github/workflows/validate.yaml
Due: no-direct-secrets

feat(jellyfin): testing jellyfin
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/pvc.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): forgot media tolerations
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dragonfly-operator): fix missing service account
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): fix indentation
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dragonfly): use 4.x version of chart
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(external-dns): load from gateway-httproute and services too
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(renovate): add automerge rules for utility packages
  .github/renovate/autoMerge.json5
Due: none

feat(renovate): shuffle some automerge packages around
  .github/renovate/autoMerge.json5
Due: none

fix(validate): ensure flux is installed in the diff job
  .github/workflows/validate.yaml
Due: no-direct-secrets

chore(gateway): migrate external apps with their own authentication to gateway-api. Leave things like *arr apps or anything behind authentik on the ingress
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/httproute.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dragonfly): use serviceAccount config
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(external-dns-cloudflare): dont load services, just httproutes and ingress
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(external-dns-unifi): should only be loading internal gateways and internal ingresses
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(dragonfly-operator): use correct serviceaccount syntax
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(jellyfin): annotate httproute properly for external usage
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

