Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

ci: allow organizational subdirs in k8s file-naming hook
  .pre-commit-config.yaml
Due: no-direct-secrets

fix(seerr): cap concurrency to prevent HTTP/2 request floods
  kubernetes/apps/default/seerr/app/backendtrafficpolicy.yaml
  kubernetes/apps/default/seerr/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(seerr): raise circuit breaker to safety-net level
  kubernetes/apps/default/seerr/app/backendtrafficpolicy.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(network): stop retrying 504s at the gateway
  kubernetes/apps/network/envoy-gateway/policies/backend-traffic-policy.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(seerr): limit upstream connections and queue instead of reject
  kubernetes/apps/default/seerr/app/backendtrafficpolicy.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(ci): add Android SDK platform 37 to ARC runner
  containers/arc-runner/Dockerfile
Due: none

fix(plex): relax liveness/readiness probe timeout to stop restarts
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): give ARC runners resource requests and raise max to 10
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(ci): deploy Gradle remote build-cache node
  kubernetes/apps/actions-runner-system/gradle-cache/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/gradle-cache/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/gradle-cache/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/gradle-cache/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): enable anonymous read+write on gradle build-cache node
  kubernetes/apps/actions-runner-system/gradle-cache/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/gradle-cache/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/gradle-cache/app/resources/config.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(validation): unset inherited git env in the kustomize validate tasks
  .taskfiles/validation/Taskfile.yaml
Due: no-direct-secrets

fix(ci): install gh in the ARC runner image
  containers/arc-runner/Dockerfile
Due: none

fix(validation): unset inherited git env in the kustomize validate tasks (#1341)
  .taskfiles/validation/Taskfile.yaml
Due: no-direct-secrets

fix(ci): install gh in the ARC runner image (#1342)
  containers/arc-runner/Dockerfile
Due: none

fix(ci): pin ARC runner to Android platform 36, which actually exists
  containers/arc-runner/Dockerfile
Due: none

fix(ci): restore the ARC runner image build and install gh (#1343)
  containers/arc-runner/Dockerfile
Due: none

fix(ci): roll ARC runners onto the image that has gh
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): roll ARC runners onto the image that has gh (#1344)
  kubernetes/apps/actions-runner-system/runners/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

docs(claude): trim CLAUDE.md and extract grafana conventions to a skill
  .claude/skills/grafana-dashboards/SKILL.md
  CLAUDE.md
Due: none

feat(taskfile): add unifi stale client pruning task
  .taskfiles/network/Taskfile.yaml
  .taskfiles/network/scripts/unifi-prune-clients.sh
  Taskfile.yaml
Due: no-direct-secrets

fix(renovate): stop internal checks from blocking updates indefinitely
  .github/renovate.json5
Due: none

feat(container): update qbittorrent ( 5.1.2 → 5.2.3 )
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(renovate): stop internal checks from blocking updates indefinitely (#1352)
  .github/renovate.json5
Due: none

feat(container): update qbittorrent ( 5.1.2 → 5.2.3 ) (#1353)
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(renovate): replace removed matchPackagePatterns with matchPackageNames
  .github/renovate/autoMerge.json5
Due: none

fix(renovate): replace removed matchPackagePatterns with matchPackageNames (#1382)
  .github/renovate/autoMerge.json5
Due: none

fix(renovate): count passing internal checks toward branch status
  .github/renovate.json5
Due: none

fix(renovate): count passing internal checks toward branch status (#1385)
  .github/renovate.json5
Due: none

fix(renovate): drop minimumReleaseAge — it never passed
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Due: none

fix(renovate): drop minimumReleaseAge — it never passed (#1388)
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Due: none

fix(recyclarr): apply LQ custom format to the Any quality profile
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

fix(recyclarr): apply LQ custom format to the Any quality profile (#1410)
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Due: none

feat(sabnzbd): move incomplete downloads to node-local disk
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(sabnzbd): alert on incomplete disk growth
  kubernetes/apps/default/sabnzbd/app/prometheusrule.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(sabnzbd): move incomplete downloads to node-local disk (#1462)
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/prometheusrule.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): add bc and python3 to the ARC runner image
  containers/arc-runner/Dockerfile
Due: none

fix(rook-ceph): revert charts to v1.18.4 to restore CSI
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Due: validate-kubernetes-files, no-direct-secrets
