Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

validate-sops:
  name: Validate SOPS files
  entry: "bash -c 'for file in \"$@\"; do\n  if [[ \"$file\" == *.sops.yaml ]]; then\n    if ! head -1 \"$file\" | grep -q \"^sops:\"; then\n      echo \"ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted\";\n      exit 1;\n    fi;\n  fi;\ndone' --"
  ...

validate-kubernetes-files:
  name: Validate Kubernetes file naming
  ...

no-direct-secrets:
  name: Check for direct secrets
  ...

debug(mystic): add verbose output to diagnose ldconfig failure
  containers/mystic/Dockerfile
Due: none

fix(mystic): follow official cryptlib installation for library naming
  containers/mystic/Dockerfile
Due: none

debug(mystic): add comprehensive ldconfig debugging
  containers/mystic/Dockerfile
Due: none

fix(mystic): handle existing GID 65534 in Alpine Linux
  containers/mystic/Dockerfile
Due: none

fix(mystic): properly diagnose and require ldconfig success
  containers/mystic/Dockerfile
Due: none

fix(mystic): comprehensive optimization reduction for ARM cryptlib builds
  containers/mystic/Dockerfile
Due: none

debug(mystic): investigate ldconfig failure with musl libc diagnostics
  containers/mystic/Dockerfile
Due: none

fix(mystic): patch cryptlib for musl libc compatibility
  containers/mystic/Dockerfile
Due: none

fix(mystic): handle musl ldconfig gracefully with fallback
  containers/mystic/Dockerfile
Due: none

fix(mystic): use existing nobody user instead of creating duplicate
  containers/mystic/Dockerfile
Due: none

fix(mystic): apply MacPorts cryptlib patches for build stability
  containers/mystic/Dockerfile
Due: none

fix(mystic): revert problematic CFLAGS+= change that broke build
  containers/mystic/Dockerfile
Due: none

fix(mystic): switch from Alpine to Ubuntu to resolve ARM64 compilation issues
  containers/mystic/Dockerfile
Due: none

feat(ci): use native ARM64 runners for multi-architecture builds
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): handle missing cache gracefully for first-time builds
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): correct matrix strategy to build all container/platform combinations
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): temporarily disable cache to resolve build failures
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): use correct ARM64 runner label for public repositories
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(mystic): use Ubuntu package manager unrar instead of building from source
  containers/mystic/Dockerfile
Due: none

docs(mystic): add comprehensive README for container package
  containers/mystic/README.md
Due: none

fix(mystic): remove pkg contents and update to use hash
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
  kubernetes/apps/default/mystic-bbs/pkg/boot.sh
  kubernetes/apps/default/mystic-bbs/pkg/logrotate.conf
  kubernetes/apps/default/mystic-bbs/pkg/tailit.sh
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): create proper multi-architecture manifest for container images
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): use clean commit hash tags without 'sha-' prefix
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(mystic): rename package to mysticbbs and add home-operations style SHA256 tagging
  .github/workflows/containers.yaml
  containers/mysticbbs/Dockerfile
  containers/mysticbbs/README.md
  containers/mysticbbs/container-bake.hcl
  containers/mysticbbs/container_test.go
  containers/mysticbbs/entrypoint.sh
  containers/mysticbbs/logrotate.conf
  containers/mysticbbs/tailit.sh
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic): pull current package
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(ci): merge job needs to depend on both changes and build jobs
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(ci): restructure container workflows to follow home-operations pattern
  .github/workflows/app-builder.yaml
  .github/workflows/containers.yaml
  containers/mysticbbs/docker-bake.hcl
Due: no-direct-secrets

feat(containers): improve mysticbbs metadata and testing
  .github/workflows/app-builder.yaml
  containers/mysticbbs/Dockerfile
  containers/mysticbbs/container-bake.hcl
  containers/mysticbbs/container_test.go
  containers/mysticbbs/docker-bake.hcl
  containers/mysticbbs/go.mod
Due: no-direct-secrets

feat(ci): simplify container workflows while maintaining reusability
  .github/workflows/app-builder.yaml
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(ci): resolve docker-bake push-by-digest tag conflict
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): use metadata-action bake file to override docker-bake tags
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): prevent metadata-action tag conflicts with push-by-digest
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): make workflow reusable by reading MAJOR_VERSION dynamically
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): resolve image inspection format error in merge step
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): improve digest extraction from build artifacts
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

fix(ci): resolve variable expansion and duplicate tag issues
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

feat(containers): add go.sum and update dependencies for mysticbbs tests
  containers/mysticbbs/go.mod
  containers/mysticbbs/go.sum
Due: none

fix(ci): add JSON validation and debug output for changed files
  .github/workflows/containers.yaml
Due: no-direct-secrets

debug(ci): add debug output to trace digest file sources
  .github/workflows/app-builder.yaml
Due: no-direct-secrets

feat(k8s): update mystic-bbs to use SHA256 digest-based tag
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

Path conditions:
  validate-sops: any of: \.sops\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  validate-kubernetes-files: any of: ^kubernetes/.*\.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

  no-direct-secrets: any of: \.yaml$, but not: (?x)^(
  .*.sample$|
  kubernetes/apps/.*/schemas/.*|
  kubernetes/apps/.*/files/.*|
  kubernetes/apps/.*/resources/.*\.yaml$
)

