Repository sob/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-sops, validate-kubernetes-files, no-direct-secrets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: forbid-tabs

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures

  - repo: local
    hooks:
      - id: validate-sops
        name: Validate SOPS files
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" == *.sops.yaml ]]; then
              if ! head -1 "$file" | grep -q "^sops:"; then
                echo "ERROR: $file is a .sops.yaml file but doesn't appear to be encrypted";
                exit 1;
              fi;
            fi;
          done' --
        language: system
        files: '\.sops\.yaml$'

      - id: validate-kubernetes-files
        name: Validate Kubernetes file naming
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ kubernetes/apps/.*/.*\.yaml$ ]] &&
                [[ ! "$file" =~ (kustomization|helmrelease|ks|externalsecret|secret\.sops)\.yaml$ ]] &&
                [[ ! "$file" =~ kubernetes/apps/.*/app/ ]]; then
              echo "ERROR: $file doesn't follow naming conventions";
              exit 1;
            fi;
          done' --
        language: system
        files: '^kubernetes/.*\.yaml$'

      - id: no-direct-secrets
        name: Check for direct secrets
        entry: >-
          bash -c 'for file in "$@"; do
            if [[ "$file" =~ \.yaml$ ]] && [[ ! "$file" =~ \.sops\.yaml$ ]] &&
                grep -E "(password|token|key|secret):\s*['\''\""]?[^$\{]" "$file" 2>/dev/null |
                grep -v "secretName" | grep -v "kind: Secret"; then
              echo "ERROR: $file may contain unencrypted secrets";
              exit 1;
            fi;
          done' --
        language: system
        files: '\.yaml$'

exclude: |
  (?x)^(
    .*.sample$|
    kubernetes/apps/.*/schemas/.*|
    kubernetes/apps/.*/files/.*|
    kubernetes/apps/.*/resources/.*\.yaml$
  )

fix(romm): increase memory limit to avoid OOM, run valkey as a sidecar to control resource limits better.
  kubernetes/apps/default/romm/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(romm): move repository higher in list
  kubernetes/apps/default/romm/app/kustomization.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(romm): correct sha256
  kubernetes/apps/default/romm/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(romm): increase valkey limits
  kubernetes/apps/default/romm/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(plex): update to home-operations container registry
  kubernetes/apps/default/plex/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(emqx): deploy batocera user
  kubernetes/apps/database/emqx/app/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(emqx): json commas help
  kubernetes/apps/database/emqx/app/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(emqx): so do quotes
  kubernetes/apps/database/emqx/app/externalsecret.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat(mystic-bbs): add Mystic BBS bulletin board system with multi-architecture support
  .github/workflows/build-mystic-bbs.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
  kubernetes/apps/default/mystic-bbs/app/kustomization.yaml
  kubernetes/apps/default/mystic-bbs/ks.yaml
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
  kubernetes/apps/default/mystic-bbs/pkg/boot.sh
  kubernetes/apps/default/mystic-bbs/pkg/logrotate.conf
  kubernetes/apps/default/mystic-bbs/pkg/tailit.sh
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic): fix rook ks dependency
  kubernetes/apps/default/mystic-bbs/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic): dont forget the volsync
  kubernetes/apps/default/mystic-bbs/ks.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic): pull from correct location and build using proper sha prefix
  .github/workflows/build-mystic-bbs.yaml
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic): remove dpkg version pinnings
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic): update CFLAGS for cryptlib
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): patch cryptlib makefile to use modern x86-64 architecture flags
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): add comprehensive sed pattern to fix all mcpu=pentium instances
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): comprehensive makefile patching for cryptlib mcpu flags
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): patch cryptlib ccopts.sh to fix mcpu=pentium source
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): update image name to follow container registry conventions
  .github/workflows/build-mystic-bbs.yaml
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

perf(mystic-bbs): use Ubuntu Python packages instead of compiling from source
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

fix(mystic-bbs): switch to Python 3 as Python 2.7 not available in Ubuntu 24.04
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: none

perf(mystic-bbs): optimize Docker buildx for faster multi-platform builds
  .github/workflows/build-mystic-bbs.yaml
Due: no-direct-secrets

feat(mystic-bbs): align with home-operations container principles
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
  kubernetes/apps/default/mystic-bbs/pkg/Containerfile
Due: validate-kubernetes-files, no-direct-secrets

fix(mystic-bbs): simplify container name to 'mystic' following home-operations conventions
  .github/workflows/build-mystic-bbs.yaml
  kubernetes/apps/default/mystic-bbs/app/helmrelease.yaml
Due: validate-kubernetes-files, no-direct-secrets

feat: restructure to follow home-operations container patterns
  .github/workflows/build-mystic-bbs.yaml
  .github/workflows/containers.yaml
  containers/mystic/Dockerfile
  containers/mystic/container-bake.hcl
  containers/mystic/container_test.go
  containers/mystic/entrypoint.sh
  containers/mystic/logrotate.conf
  containers/mystic/tailit.sh
Due: no-direct-secrets

fix(workflows): improve container change detection
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(workflows): improve manual execution behavior
  .github/workflows/containers.yaml
Due: no-direct-secrets

feat(mystic): build unrar from source in multi-stage build
  containers/mystic/Dockerfile
Due: none

refactor(mystic): complete version management with ALPINE_VERSION ARG
  containers/mystic/Dockerfile
Due: none

fix(workflows): improve container change detection and JSON handling
  .github/workflows/containers.yaml
Due: no-direct-secrets

fix(mystic): add linux-headers and debug output for unrar build
  containers/mystic/Dockerfile
Due: none

fix(workflows): robust JSON handling for container matrix strategy
  .github/workflows/containers.yaml
Due: no-direct-secrets

debug(mystic): add verbose output for unrar build troubleshooting
  containers/mystic/Dockerfile
Due: none

fix(mystic): redeclare ARG variables in builder stage
  containers/mystic/Dockerfile
Due: none

refactor(mystic): clean up ARG redeclarations to inherit from global
  containers/mystic/Dockerfile
Due: none

fix(mystic): use LinuxServer approach for unrar build on Alpine
  containers/mystic/Dockerfile
Due: none

fix(mystic): skip shared library build for unrar, only build executable
  containers/mystic/Dockerfile
Due: none

simplify(mystic): use ARG directly for cryptlib version instead of file approach
  containers/mystic/Dockerfile
Due: none

fix(mystic): resolve GCC segfault on ARM64 with architecture-specific compilation
  containers/mystic/Dockerfile
Due: none

fix(mystic): make unrar copy conditional to prevent ARM64 build failures
  containers/mystic/Dockerfile
Due: none
